.post-preview-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.preview-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.preview-timestamp {
  margin-top: 0.5em;
  font-size: 0.85em;
}
