.home {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.home-menu {
  grid-column: 1;
  align-self: top;
  background-color: var(--panel-bg-cl);
  padding: 1.5em;
  padding-top: 0;
}

.home-content {
  grid-column: 2;
  align-self: top;
  background-color: var(--panel-bg-cl);
  padding: 1.5em;
}
