.modal-container {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}

.modal-content {
  z-index: 20;
  max-height: 50vh;
  min-height: 50vh;
  max-width: 50vw;
  min-width: 50vw;
  top: 2em;
  overflow-y: auto;
}
