.home-double-col {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.home-single-col {
  height: 100vh;
}

.home-menu {
  grid-column: 1;
  align-self: top;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--panel-bg-cl);
  padding: 1.5em;
  padding-top: 0;
}

.home-content {
  grid-column: 2;
  align-self: top;
  background-color: var(--panel-bg-cl);
  padding: 1.5em;
  padding-top: 0;
}

@media only screen and (max-device-width: 926px) {
  .home-double-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  .home-menu {
    align-self: top;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--panel-bg-cl);
    padding: 1.5em;
    padding-top: 0;
    border-bottom-color: var(--secondary-cl);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
  }

  .home-content {
    align-self: top;
    background-color: var(--panel-bg-cl);
    padding: 1.5em;
    padding-top: 0;
    width: 100%;
    margin-top: 1.5em;
  }
}
