.post-preview-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.preview-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1em;
}

.preview-timestamp {
  margin-top: 0.5em;
  font-size: 0.85em;
}
